@import '../../assets/scss/variables';
@import '~bootstrap/scss/mixins/hover';

%category-shared {
  margin-top: 0.625rem;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.category-btn {
  @extend %category-shared;
  background: $white;
  border: 1px solid $gray-100;
  color: $gray-600;

  @include hover-focus-active {
    color: $gray-900;
    background: $gray-100;
    outline: none;
  }

  &.active {
    color: black;
    border-color: #ffa43b !important;
  }

  &:not(:nth-last-child(1)) {
    margin-right: 0.5rem;
  }
}
