@import './variables';
@import '~bootstrap';

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7fcfa;;
}

.outline-none {
  outline: none;
}